/*navbar*/
.navbar-phone a{
	color: #000;
	position: relative;
}
.icon-phone{
	position: absolute;
	top: -4px;
	left: -25px;
}
.head-bottom{
	background-color: #f2f2f2;
}
.uk-navbar{
	width: 100%;
}
.uk-navbar-nav{
	width: 100%;
}
.uk-navbar-nav >li >a {
	height: 40px;
	text-transform: none;
}
.uk-navbar-nav .uk-active{
	text-decoration: underline;
}
/* breadcrumbs*/
.breadcrumbs{
	padding: 15px 0;
}
.uk-breadcrumb>:nth-child(n+2):not(.uk-first-column)::before{
	content: ">";
}
/*content*/
.content-container{
	border-bottom: 2px dotted #cacaca;
}
/*grid*/
.grid-item{
	border-bottom: 1px dotted #cacaca;
}
.grid-item:first-child,
.grid-item:last-child{
	border: none;
}
.grid-item .card-heading h1{
	font-size: 28px;
}
.card{
	padding: 25px 0;
}
.card-img{
	text-align: center;
}
.card-img img{
	width: 100%;
}

.card-list ul.uk-list li:before{
	content: '\2014';
	display: inline-block;
	margin-right: 10px;
}
.card-tabs .uk-tab{
	margin-left: -5px;
}
.uk-tab>*{
	padding-left: 0;
}
.card-tabs .uk-tab li{
 background-color: #e9e9e9;
 color: #000;
 border-top-left-radius: 4px;
 border-top-right-radius: 4px;
 margin:0 5px; 
}
.uk-tab>li.uk-active{
	background-color: #24b6e1;
	
}
.uk-tab>.uk-active>a{
	color: #fff;
}

/*search*/
.uk-search{
	width: 100%;
}
.uk-search-default .uk-search-input{
	position: relative;
	padding-right: 40px;
}
.icon-search{
	position: absolute;
	right: 15px;
	top: 15%;
}
.aside-heading{
	padding-top: 30px;
}
.aside-heading h2{
	font-size: 24px;
}
/*aside-card */
.aside-card{
	border-bottom: 1px dotted #cacaca;
	padding: 20px 0;
}
.aside-card h5{
	color: rgba(36, 181, 225, 255);
	margin-bottom: 0;
}
.date{
	color: rgba(150, 150, 150, 255);
	font-size: 11px;
	font-style: italic;
}
.button-news{
	padding: 30px 0;
}
.uk-button-default,
.uk-button-primary{
	margin-left: auto;
	padding: 8px 15px;
	text-align: center;
	border-radius: 4px;
	cursor: pointer;
	
}
.uk-button-default{
	background-color: #e9e9e9;
}
/*footer*/
.footer-content{
	padding: 30px 0;
}
.social{
	margin-left: auto;
}
.social .uk-list{
	align-items: center;
	margin: 0;
}
.social .uk-list li{
	margin: 10px;
	line-height: 0;
}
.social .uk-list li a{
	display: inline-block;
	border-radius: 50%;
}